/* purgecss start ignore */
@tailwind base;
@tailwind components;

hr {
    @apply border-b;
}

.transition-bg-color {
    transition: background-color 1s, color 1s;
}

#nprogress {
    z-index: theme('zIndex.50');

    .bar {
        background: white;
    }
}

/* purgecss end ignore */

@tailwind utilities;

@import "clocky.scss";
@import "sidebar-menu.scss";
@import "field.scss";
